/* start about us section styles */

.about-us{
    background-color: #fff;
}
.about-info .about-title{
    color: rgb(94 146 66);
    font-size: 1.875rem;
}
.about-info .desc{
    font-size: 18px;
    color: #555;
}

/* end about us section styles */
/* start our history section styles */
.our-history{
 

    position: relative;
  z-index: 99999;
    background-color: #fff;
margin-bottom: 22rem;
min-height: 500px;
overflow: hidden;
  
}
.uni-background{
position: absolute;
width: 100%;;
z-index: -1;
height: 100%;
}
@media (max-width:1200px) {
    .our-history{
        margin-bottom: 0;
    }
    
}
/* end our history section styles */
