/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Carlito", sans-serif;
}
p , h1 , h2 , h3 , h4 , h5 , h6 , ul{
margin-bottom: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
text-decoration: none;
}
 
/* start top bar style */
.topbar{
    background-color: #5d7635c5;
    padding: .5em 0 ;
 
}
.topbar-list li{
    position: relative;
}
.topbar-list li a{
color: #fff;
font-weight: 500;
font-size: 1.125rem;
display: block;
padding: 0 .5em;
transition: .3s all ease
}
.topbar-list li a:hover{
    text-decoration: underline;
}
.topbar-list li:not(:last-child) a::after{
content: "";
height: 80%;
width: 2px;
top: 50%;
transform: translate(0 , -50%);
background-color: #fff;;
position: absolute;
margin-inline-start: 1em;
}
.social li svg{
    font-size: 1.25rem;
    color: #fff;
    opacity: .8;
    transition: .2s all ease;
    
}
.social li svg:hover{
    opacity: 1;
}
.social li:last-child svg{
    transform: rotate(90deg);
}
.topbar .language{
    font-size: 1.25rem;
    color: #fff;
}
/* end top bar style */
/* start navbar  */


.navbar{

    color: #fff;
    background-color: rgb(79 ,79 ,79,1);
    transition: .3s all ease;

}
body.fixed-nav-padding {
    padding-top: 70px; 
}
.navbar-brand img:first-child{
    width: 8rem;
}

.nav-link{
 
    color: #fff;
    display: block;
    border-radius: 8px;
    font-weight: 500;

   
}
.nav-link:focus{
    color: #fff;
}
.nav-link.active{
    background-color: rgb(94, 146, 66);
    border-radius: 8px;
}
.nav-link:hover{
    background-color: rgb(94, 146, 66);
    border-radius: 8px;
    color: #fff;
}
.nav-item:last-child .nav-link{
    background-color: rgb(252, 218, 6);
    border-radius: 40px;
    color: #000;
}
.nav-item:last-child .nav-link:hover{
    background-color: rgb(94, 146, 66);
    color: #fff;

}


.nav-dropdown {
    z-index: 999;
width: 200px;
top: 74px;
visibility: hidden;;
opacity: 0;
transition: .3s all ease;
}
.nav-item:nth-child(3) .nav-dropdown{
    width: 270px;
}
.nav-dropdown li a{
background-color: rgb(94, 146, 66);
display: block;
color: #fff;
margin-bottom: .2rem;
padding: 2px 10px;
position: relative;
overflow: hidden;
}
.nav-dropdown li a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background-color:rgb(252, 218, 6) ;
    left: 0;
}

.nav-item:hover > .nav-dropdown {
    opacity: 1;
    visibility: visible;
}
.bg-nav{
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.bg-nav .nav-dropdown {
    top: 110%;
    backdrop-filter: blur(10px);

}

button:focus:not(:focus-visible){
    box-shadow: none;
}

@media (max-width:1200px){
    .nav-dropdown{
        left: 50%;
        transform: translate(30%,2%);
    }
    .nav-item:nth-child(3) .nav-dropdown {
        transform: translate(22%, 2%);
    }
}
@media (max-width:1200px) {
    .navbar-nav {
        align-items: center;
    }
    .nav-link{
 
display: inline-block;
padding: .5rem 1.5rem;
    }
}
@media (max-width:1200px){
    .bg-nav{
        background-color:rgb(79 ,79 ,79,1) ;
    min-height: 100px;
    }   
}
:dir(rtl){
    .nav-dropdown li a::before{
      right: 0;  
    }
  


}
/* end navbar  */
/* start banner */
.main-banner{
    min-height: 50vh;
    background: url(../images/career/about-hero.png) no-repeat;
    background-position: center ;
    background-size: cover;

}

.main-banner .title{
    font-size:4em;
    text-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
}
.banner-overlay{
    background-color:rgba(0 , 0, 0, .3);

    z-index: 99;
   

}
@media (max-width:1200px){
    .main-banner{
      height: 60vh;
    }   
}
/* end banner */
/* start career description */
.career-desc{
  color: rgb(85 85 85);
  background-color: rgb(255, 255, 255);

}
.career-desc .description{
    font-size: 1.5em;
    line-height: 1.4em;
}
/* end career description */
/* start career form */
.career-form{
    background-color: rgb(245, 245, 245);
    margin-bottom: 22em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.career-form .form-control{
    border: 2px solid rgb(211, 225, 200);
    padding: 10px;
    border-radius: 10px;
}
.career-form .form-control:focus{
    box-shadow: none;
}
.form-check-input{
    border: 2px solid rgb(211, 225, 200);
padding: 10px;
}
.career-form .form-check-input:focus{
    box-shadow: none;
}
.career-form .submit-btn{
    background-color: rgb(252, 218, 6);
}
.career-form .chat-img{
    left: 2em;
    }

@media(max-width:768px){
    .career-form .chat-img{
        width: 10em;
        }
}
@media (max-width:1200px) {
    .career-form{
        margin-bottom: 0;
    }
    
}
:dir(rtl){
    .career-form .chat-img{
                right: 2em;
                }
     }
/* end career form */
/* start footer */
footer{
    background-color: rgb(79, 79 ,79 );
 
}
.fixed-bottom-footer{
    z-index: -100;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer .footer-card .title{
    color: #a6a6a6;
}
footer .footer-card .line{
    height: 1px;
    width: 100%;
    background-color :#a6a6a6;
    cursor: pointer;
}

footer .footer-card .sub-line{
    width: 60%;
    height: 100%;
    background: #ddd;
    transition: .3s all ease;
    transition: .3s all ease;
}
footer .footer-card .line:hover .sub-line{
width: 100%;
}
footer .footer-card  .desc{
    color: #a6a6a6;
}
footer .footer-card ul {
    list-style-type: disc;
    list-style-position: inside;
}
.footer-card a:hover{
    color: rgb(252, 218, 6)
}
footer .footer-card ul li::marker {

    color: #a6a6a6;
    font-size: 1.2em; 
  }
footer .footer-card   ul a{
     color: #a6a6a6;
     transition: .1s all ease;
}
footer .touch  ul a:hover{
    color: rgb(252, 218, 6)
}
 footer .touch:last-of-type ul  {
list-style: none!important;
}
 footer .touch ul li:first-of-type{
    list-style-image: url(../images/career/mobile.png);
    vertical-align: middle;
    list-style-position: inside;
} 
footer .touch ul li:last-of-type{
    list-style-image: url(../images/career/mail.png);
    vertical-align: middle;
    list-style-position: inside;
}
@media (max-width:1200px) {
    .fixed-bottom-footer{
        position: static;;
    }
    
}
/* end footer */
/* start copyright */
.copyright{
    background-color: #434242;
    font-size: 14px;
}
/* end copyright */