/* start banner style */

body{
 
}
.contact-banner{
    background:  no-repeat;
    background-size: cover;
    background-position: center;
}

/* end banner style */
/* start location style */
.location{
    background-color: #fff;
}
.location .map{
    background: #85c34c;
    border-end-end-radius: 30px;
    border-start-end-radius: 30px;
}
.location .map img{
    max-width: 100%;
}
.location-info .title{
    color: rgb(133 195 76 );
    font-size: 1.4rem;
}
.location-info li:first-child{
    list-style-image: url(../images/contact-us/location.png);
    vertical-align: middle;
  }
.location-info img{
    width: 2rem;
    height: 2rem;
}
.map-overlay {
    width: 100px;
    height: 100px;
    background:#f8da04;
    top: 96%;
  border-radius: 30px;
    right: -69px;
}

@media  (max-width:1200px) {
    .map-overlay {
   display: none;
    }
}
@media (max-width:768px) {
    .location .map{
        border-radius: 0;
    }
}
:dir(rtl){
    .map-overlay {
        right:97%

    }
}
/* end location style */
/* start git in touch  */
.git-in-touch{
    background-color: #fff;
    margin-bottom: 22em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.git-in-touch .form-control{
    border: 0;
    border-bottom: 1px solid rgb(133, 195, 76);
    border-radius: 0;
    padding:0 10px 10px;
}
.git-in-touch .form-control::placeholder{
   font-size: 14px;
}
.git-in-touch .form-control:focus{
    box-shadow: none;
}


.git-in-touch .submit-btn{
    background-color: rgb(252, 218, 6);
}




/*git-in-touch*/