:root{
    --secondary:#efcf04;
    --main-color:#5e9242
}
/* start banner */
.home-banner{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.homer-banner-overlay{
    background-color: #65911d3b;
}
.home-banner .icon{
    color: var(--secondary);
}
.home-banner .banner-info{
    bottom: 18%;
  
}
.home-banner .banner-info .title{
    font-size: 3.5em;
    line-height: 1.2em;
}
.banner-info .btn{
    background-color: var(--secondary);
    border-radius: 10px;
    transition: .5s all ease;
}
.banner-info .btn:hover{
    background-color: var(--main-color);
    color: #fff;
}
.home-banner .owl-theme .owl-dots{
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
}
.home-banner .owl-next svg , .home-banner .owl-prev svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .3em;
    color: #fff;
    font-size: 3em;

}
.home-banner .owl-prev svg{
left: .3em;
}

@media (max-width:768px) {
    .home-banner .banner-info .title{
        font-size:2em;
     line-height: 1.5em;
  
    }
}
:dir(rtl){
    .home-banner .owl-next svg{
        left: .3em;
    }
    .home-banner .owl-prev svg{
        right: .3em;
    }
}
/* end banner */