/* general styles */
@font-face {
    font-family: 'MyFont';
    src: url('../fonts//Avenir/alfont_com_AlFont_com_Avenir-Heavy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "MyFont";
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;


}



.pointer {
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --secondary: #efcf04;
    --main-color: #5e9242
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.font-20 {
    font-size: 20px;
}

.text-green {
    color: var(--main-color);
}

.text-gray {
    color: #555;
}

.bg-gray {
    background-color: #f5f5f5;
}

/* Start  home Banner */
.bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-ps-sub-title {
    color: #fff;
    font-size: clamp(14px, 3vw, 32px);
    padding-bottom: 10px;
    font-weight: 700;
}

.bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-title-tag {
    font-size: 80px;
    color: var(--main-color);
    line-height: 1.3;
}



.bdt-prime-slider-skin-crelly .bdt-prime-slider-next,
.bdt-prime-slider-skin-crelly .bdt-prime-slider-previous {
    background-color: rgba(94, 146, 66, .7);
    width: 54px;
    height: 54px;
    border-radius: 10px;
}

@media (max-width:575px) {

    .bdt-prime-slider-skin-crelly .bdt-slider-excerpt:before,

    .bdt-prime-slider-skin-crelly .bdt-prime-slider-next,
    .bdt-prime-slider-skin-crelly .bdt-prime-slider-previous {
        width: 45px;
        height: 45px;
    }
}


.bdt-prime-slider-skin-crelly .bdt-slide-btn {
    font-size: 26px;
    color: var(--main-color);
}

.bdt-prime-slider-skin-crelly .bdt-prime-slider-next:hover,
.bdt-prime-slider-skin-crelly .bdt-prime-slider-previous:hover {
    background-color: rgba(239, 207, 4, .6);
}

.bdt-prime-slider-skin-crelly .bdt-prime-slider-next:hover svg,
.bdt-prime-slider-skin-crelly .bdt-prime-slider-previous:hover svg {
    color: #fff;
}



.bdt-prime-slider-skin-crelly .bdt-slide-btn svg {

    color: var(--main-color) !important;
    font-size: 14px;
}


.bdt-prime-slider-skin-crelly .bdt-slide-btn:hover .bdt-prime-slider-skin-crelly .bdt-slide-btn svg {
    color: #fff !important;
}

.bdt-prime-slider-skin-crelly .bdt-slider-excerpt:before {
    top: -40px;
}

.bdt-prime-slider-skin-crelly .bdt-slider-excerpt-content .bdt-slider-excerpt {
    font-size: 20px;
    margin: 15px 0;
}

.bdt-prime-slider-skin-crelly .bdt-ps-counternav li a {
    color: var(--main-color)
}

.bdt-prime-slider-skin-crelly .bdt-ps-counternav span {
    color: #5e9242
}

.bdt-overlay-default {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

@media (max-width:991px) {
    .bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-ps-sub-title {
        font-size: 20px;
    }

    .bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-title-tag {
        font-size: 30px;
    }

    .bdt-prime-slider-skin-crelly .bdt-slider-excerpt:before {
        top: -10px;
    }
}

:dir(ltr) {
    .bdt-text-left {
        text-align: left !important;
    }

    .bdt-prime-slider-skin-crelly .bdt-prime-slider-next svg,
    .bdt-prime-slider-skin-crelly .bdt-prime-slider-previous svg {
        transform: rotate(180deg);
    }

    .bdt-prime-slider-skin-crelly .bdt-slide-btn svg {
        transform: rotate(180deg);
        margin: 0 10px;
    }

    .bdt-position-center-left {
        left: 0 !important
    }

    .bdt-prime-slider-skin-crelly .bdt-dotnav {
        margin-left: 140px;
    }

    .bdt-container {
        padding-left: 100px;
    }

    @media (max-width:1600px) {
        .bdt-prime-slider-skin-crelly .bdt-dotnav {
            margin-left: 20px;
        }

        .bdt-prime-slider-skin-crelly .bdt-slider-excerpt-content .bdt-slider-excerpt {
            font-size: 16px;
        }

        .bdt-flex-middle {
            font-size: 16px;
        }

        .bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-ps-sub-title {
            font-size: 16px;
        }


    }

    @media (max-width:768px) {
        .bdt-prime-slider-skin-crelly .bdt-slide-btn svg {
            transform: rotate(180deg)
        }
    }

    @media (min-width: 1024px) {
        .bdt-prime-slider-skin-crelly .bdt-navigation-arrows {
            margin-left: 100px !important;
        }

        .bdt-position-bottom-left {

            left: 0;
        }
    }

    @media (max-width:1600px) {
        .bdt-prime-slider-skin-crelly .bdt-navigation-arrows {
            margin-left: 20px !important;
        }


    }
}

@media (max-width:991px) {
    .bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-title-tag {
        font-size: 25px;
    }

    .bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-ps-sub-title {
        font-size: 13px;
    }

    .bdt-prime-slider-skin-crelly .bdt-slider-excerpt-content .bdt-slider-excerpt {
        font-size: 15px;
    }

    .bdt-flex-middle {
        font-size: 15px;
    }
}


.bdt-prime-slider-skin-crelly .bdt-slide-btn:before {
    visibility: hidden;
}

.bdt-prime-slider-skin-crelly .bdt-slide-btn:before {
    visibility: hidden;
    background-color: transparent;
}

.bdt-prime-slider-skin-crelly .bdt-slide-btn:hover::before {
    visibility: visible;
    background-color: rgba(94, 146, 66, .5) !important;
    border-radius: 5px;
}

.banner-icon {
    transition: .3s all ease;
}

.bdt-prime-slider-skin-crelly .bdt-slide-btn:hover .banner-icon {
    color: #fff !important
}

/* End home  Banner */
/*navbar  styles */
.new-web-navbar {
    color: #fff;
    position: absolute;
    z-index: 99999999;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);


}

.ftco_navbar {
    padding: 1.8rem 0 !important;
}

.new-web-navbar .dropdown-toggle::after {
    display: none !important;
}

.new-web-navbar .button:focus:not(:focus-visible) {
    box-shadow: none !important;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

@media (min-width: 1600px) {

    .new-web-navbar .container,
    .new-web-navbar .container-lg,
    .new-web-navbar .container-md,
    .new-web-navbar.container-sm,
    .new-web-navbar .container-xl,
    .new-web-navbar .container-xxl {
        max-width: 1550px;
    }
}



.new-web-navbar .logos img:last-child {
    width: 12rem;



}

@media (max-width:1300px) {
    .new-web-navbar .logos img:last-child {

        width: 10rem;
    }

}

.logo-line {
    position: relative;
}

.logo-line::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 38px;
    background-color: #fff;
    right: -5px;
    top: 33%;


}

/* @media (max-width:1300px) {
    .logo-line::before {
        display: none;

    }
} */

.logo-list-wrapper {
    @media (max-width:1300px) {
        gap: 0 !important;
    }
}

.new-web-navbar .e-btn {
    border-radius: 30px;
    background-color: var(--secondary);
    font-weight: 500;
}

.new-web-navbar .e-btn:hover {
    color: #fff;
    background-color: var(--main-color);

}

@media (max-width:1600px) {
    .new-web-navbar .nav-list {
        gap: 2rem !important
    }

}


@media (max-width:1350px) {

    .new-web-navbar .nav-list,
    .new-web-navbar .social {
        display: none !important
    }


}

@media (min-width:1200px) and (max-width:1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1386px;
    }
}

@media (min-width:1300px) {
    .new-web-navbar .bars-icon {
        display: none;
    }
}

@media (max-width: 1400px) {
    .offcanvas {
        width: 90%;
        text-align: start;
    }

    .offcanvas.show {
        background-color: #c0c0c0;
        z-index: 999999999999999999;

    }

    .offcanvas.show .logos img {
        width: 40%;
    }
}

.new-web-navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999999;
    margin-top: -150px;
    background: #19181b !important;
    padding-top: .7rem !important;
    padding-bottom: .7rem !important;
    transition: .5s all ease-out;

    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    .navbar-nav {
        .nav-link {
            color: var(--main-color) !important;
        }
    }

}

.new-web-navbar.awake {
    margin-top: 0px;
    transition: 1s all ease-out;
    z-index: 99999999
}

.new-web-navbar.sleep {
    transition: 1s all ease-out;



}

.nav-list li a {
    padding: 10px 20px;

    border-radius: 5px;


}

@media (max-width:1600px) {
    .nav-list li a {
        font-size: 15px;
        padding: 10px 8px;
    }

}

.nav-list li a:hover {
    background-color: var(--main-color) !important;
}

.new-web-navbar .dropdown-toggle {
    padding: 10px 13px;


}

@media (max-width:1600px) {
    .new-web-navbar .dropdown-toggle {
        padding: 10px 8px;
        font-size: 15px;
    }


}

.new-web-navbar .dropdown-toggle:hover {
    background-color: var(--main-color) !important;

}

.new-web-navbar .dropdown-menu.show,
.offcanvas.show .dropdown-menu.show {
    background-color: transparent;
    text-align: right;
    padding: 0;
    border: none;

}

.new-web-navbar .dropdown-menu.show li a,
.offcanvas.show .dropdown-menu.show li a {
    background-color: var(--main-color);
    margin-bottom: 5px;
    padding: 3px 10px !important;
    border-radius: 0;
    border-inline-end: 4px solid var(--secondary);
    font-size: 15px;
}

.new-web-navbar .dropdown-menu.show li a:hover,
.offcanvas.show .dropdown-menu.show li a:hover {
    background-color: var(--main-color) !important;
    color: #fff !important
}



@media (max-width:1600px) {
    .new-web-navbar .nav-list {
        gap: 10px !important
    }


}

.dropdown-toggle::after {
    display: none;
}

.new-web-navbar .nav-list ul li a,
.offcanvas.show .nav-list ul li a {
    font-weight: 500;
}

.offcanvas .dropdown-menu.show {
    position: relative !important;
    transform: translate3d(-0.109375px, 8px, 0px) !important;
}

.offcanvas .dropdown {
    display: flex;
    flex-direction: column;
}

.offcanvas {
    background-color: #19181b !important;
}

.offcanvas .fa-rectangle-xmark {
    color: #fff;
    font-size: 20px;
}

.offcanvas .e-btn {
    border-radius: 30px;
    background-color: var(--secondary);
    font-weight: 500;
}

.offcanvas .e-btn:hover {
    color: #fff;
    background-color: var(--main-color);

}

.new-web-navbar .dropdown-toggle,
.offcanvas.show .dropdown-toggle {
    background-color: transparent;
    border: 0;
    font-weight: 500;
}

.new-web-navbar .dropdown-toggle:active,
.offcanvas.show .dropdown-toggle:active {
    box-shadow: none;
}


.new-web-navbar .dropdown-menu.show li a,
.offcanvas.show .dropdown-menu.show li a {
    padding: 10px 15px;
    color: #fff;
}

.new-web-navbar .dropdown-menu.show li a:hover,
.offcanvas.show .dropdown-menu.show li a:hover {

    color: #000;
}

.offcanvas.show .dropdown-menu.show {
    transform: translate3d(0) !important;
    right: 37%;
}

.bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-ps-sub-title {
    font-size: 2.8em;
}

.bdt-prime-slider-skin-crelly .bdt-slider-excerpt:before {
    content: '';
    position: absolute;
    height: 6px;
    width: 91px;
    background: var(--secondary);
    top: -40px;
}

@media (max-width:991px) {
    .bdt-prime-slider-skin-crelly .bdt-prime-slider-desc .bdt-ps-sub-title {
        font-size: 1.5em;
    }

    .bdt-prime-slider-skin-crelly .bdt-slider-excerpt:before {
        content: '';
        position: absolute;
        height: 6px;
        width: 60px;
        background: var(--main-color);
        top: -12px;
    }
}

.bdt-prime-slider-skin-crelly .bdt-overlay-default:before {
    background-color: rgba(0, 0, 0, 0.2);
}


/* start Educational environment styles */



.educational-environment .environment-content {
    padding-inline-start: 7.25rem;




}



@media (max-width:1500px) {
    .educational-environment .environment-content {

        padding-inline-start: 2rem;
        padding-top: 0 !important;
    }

}

@media (max-width:768px) {
    .educational-environment .environment-content {
        padding-inline-start: 0;
    }

    .educational-environment.v1 .environment-content h2:first-child {
        margin: 0 -10px 0 0;
    }
}


@media (max-width:991px) {
    .environment-content {
        margin-bottom: 1rem;
    }


}

.environment-content a {
    font-size: 1.3rem;
}

.environment-content a:hover {
    color: var(--main-color);
}

.educational-environment .environment-content h2 {
    color: var(--main-color);
    font-weight: 900;
    font-size: 3em;


}

@media (max-width:991px) {
    .educational-environment .environment-content h2 {
        font-size: 2em;
    }

}

.educational-environment .environment-content h2:last-of-type {
    position: relative;


}

@media (max-width:575px) {
    .educational-environment .environment-content h2:last-of-type {
        margin-bottom: 1rem
    }
}

.educational-environment .environment-content h2:last-of-type::before {

    content: '';
    position: absolute;
    height: 6px;
    width: 91px;
    background: var(--secondary);
    top: 66px;



}

@media (max-width:991px) {
    .educational-environment .environment-content h2:last-of-type::before {
        display: none;

    }
}

.educational-environment .environment-content p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2em;
    color: #555;



}

@media (max-width:1500px) {
    .educational-environment .environment-content p {
        line-height: 20px;
    }
}

@media (max-width:575px) {
    .educational-environment .environment-content p {
        font-size: 1rem;
    }

}

.environment-carousel .owl-dots,
.perfect-education-carousel .owl-dots {
    display: none;
}

.environment-carousel .owl-prev,
.environment-carousel .owl-next,
.perfect-education-carousel .owl-prev,
.perfect-education-carousel .owl-next {
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;
    color: #fff !important;
    border-radius: 10px !important;
    transition: .3s all ease;
    transform: rotate(90deg);
}




.environment-carousel .owl-prev:hover,
.environment-carousel .owl-next:hover,
.perfect-education-carousel .owl-prev:hover,
.perfect-education-carousel .owl-next:hover {
    background-color: rgba(239, 207, 4, .7) !important;
}

@media (max-width:575px) {


    .environment-carousel .owl-prev,
    .environment-carousel .owl-next,
    .perfect-education-carousel .owl-prev,
    .perfect-education-carousel .owl-next {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {

    .environment-carousel .owl-prev,
    .environment-carousel .owl-next,
    .perfect-education-carousel .owl-prev,
    .perfect-education-carousel .owl-next {
        width: 45px;
        height: 45px;

    }

}

.environment-carousel .owl-prev span,
.environment-carousel .owl-next span,

.perfect-education-carousel .owl-prev span,
.perfect-education-carousel .owl-next span {
    font-size: 25px;
    line-height: 12px;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block;
}

.educational-environment.v1 .owl-theme .owl-nav,
.educational-environment.v2 .owl-theme .owl-nav {

    transform: rotate(180deg);
    width: 100%;
    left: 0;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    bottom: 50%;
    transform: translateY(78%);
    padding: 0 2em;
    z-index: 9999;

}

@media (max-width:991px) {

    .educational-environment.v1 .owl-theme .owl-nav,
    .educational-environment.v2 .owl-theme .owl-nav {
        padding: 0 1em;
    }
}

/* @media (max-width:1900px) {
    .educational-environment.v1 .owl-theme .owl-nav {
        left: 14rem !important;
    }

} */

/* @media (max-width:1750px) {
    .educational-environment.v1 .owl-theme .owl-nav {
        left: 15% !important
    }

} */

/* @media (max-width:1400px) {
    .educational-environment.v1 .owl-theme .owl-nav {
        left: 13% !important
    }

} */

/* @media (max-width:1200px) {
    .educational-environment.v1 .owl-theme .owl-nav {

        left: 3rem !important;
        bottom: 2rem;
    }
} */

/* @media (max-width:991px) {
    .educational-environment.v1 .owl-theme .owl-nav {

        left: 10rem !important;
        bottom: 2rem;
    }
} */

/* @media (max-width:575px) {
    .educational-environment.v1 .owl-theme .owl-nav {

        left: 1.3rem !important;
        bottom: 2rem;
    }
} */






@media (max-width:991px) {
    .educational-environment:last-of-type {
        margin-top: 3rem;
    }


}

.educational-environment.v2 .environment-content {
    padding-inline-start: 2rem;
    padding-inline-end: 6rem;



}

@media (max-width:768px) {
    .educational-environment.v2 .environment-content {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

}


/* .educational-environment.v2 .owl-theme .owl-nav {
    position: absolute;
    right: 14rem !important;
    transform: rotate(90deg);
    z-index: 999999;
    bottom: 3rem
}

@media (max-width:1900px) {
    .educational-environment.v2 .owl-theme .owl-nav {
        right: 14rem !important;
    }

}

@media (max-width:1750px) {
    .educational-environment.v2 .owl-theme .owl-nav {
        right: 15% !important
    }

}

@media (max-width:1400px) {
    .educational-environment.v2 .owl-theme .owl-nav {
        right: 13% !important
    }

}

@media (max-width:1200px) {
    .educational-environment.v2 .owl-theme .owl-nav {

        right: 3rem !important;
        bottom: 2rem;
    }
}

@media (max-width:991px) {
    .educational-environment.v2 .owl-theme .owl-nav {

        right: 10rem !important;
        bottom: 2rem;
    }
}

@media (max-width:575px) {
    .educational-environment.v2 .owl-theme .owl-nav {

        right: 1.3rem !important;
        bottom: 2rem;
    }
}
 */




.environment-carousel .owl-nav button.owl-prev,
.environment-carousel .owl-nav button.owl-next,
.perfect-education-carousel .owl-nav button.owl-prev,
.perfect-education-carousel .owl-nav button.owl-next {
    background-color: var(--main-color) !important;
    transform: rotate(0);
    width: 65px;
    height: 65px;



}

@media (max-width:991px) {

    .environment-carousel .owl-nav button.owl-prev,
    .environment-carousel .owl-nav button.owl-next,
    .perfect-education-carousel .owl-nav button.owl-prev,
    .perfect-education-carousel .owl-nav button.owl-next {
        background-color: var(--main-color) !important;
        transform: rotate(0);
        width: 50px;
        height: 50px;



    }
}

/* @media (max-width:450px) {
    .environment-carousel .owl-nav button.owl-next {

        top: -23rem;
        right: 15px;
        width: 50px;
        height: 50px;

    }

    .environment-carousel .owl-nav button.owl-prev {


        right: 1em;
        top: -56px;
        width: 50px;
        height: 50px;

    }
}
@media (max-width:376px) {
    .environment-carousel .owl-nav button.owl-next {

        top: -20rem;
    

    }

 
} */

/* start college tour styles */


.college-tour {
    padding: 80px 8rem;


}

@media (max-width:1500px) {
    .college-tour {
        padding: 100px 2rem;
    }
}

@media (max-width:575px) {
    .college-tour {
        padding: 16px 1rem;
    }
}

.college-tour-layer {
    top: 25rem;
    width: 61%;


}

@media (max-width:1400px) {
    .college-tour-layer {
        display: none;
    }

}

.college-tour-layer img {
    width: 100%;
    opacity: .6;
}

.college-tour .environment-content {
    padding-inline-start: 8rem;




}


@media (max-width:1500px) {
    .college-tour .environment-content {
        padding-inline-start: 2rem;
        padding-top: 0 !important;
    }


}

@media (max-width:768px) {
    .college-tour .environment-content {
        padding-inline-start: 0;

    }
}

.college-tour .college-tour-content h2 {
    color: var(--main-color);
    font-weight: 900;
    font-size: 3em;


}

@media (max-width:991px) {
    .college-tour .college-tour-content h2 {
        font-size: 2em;
    }

}

.college-tour .college-tour-content h2:last-of-type {
    position: relative;


}

.college-tour .college-tour-content h2:last-of-type::before {

    content: '';
    position: absolute;
    height: 6px;
    width: 91px;
    background: var(--secondary);
    top: 60px;



}

@media (max-width:991px) {
    .college-tour .college-tour-content h2:last-of-type::before {
        display: none;
    }

}

.college-tour .college-tour-content p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2em;


}

@media (max-width:1500px) {

    .college-tour .college-tour-content p {
        line-height: 20px;
    }
}

@media (max-width:575px) {
    .college-tour .college-tour-content p {
        font-size: 1rem;
    }

}

.college-tour-content .btn,
.college-tour-image .btn {
    background-color: var(--secondary);
    padding-left: 1rem;
    padding-right: 1em;
    border-radius: 30px;
    font-size: 18px;
}

.college-tour-content .btn:hover,
.college-tour-image .btn:hover {
    background-color: var(--main-color);
    color: #fff;
}

.college-tour-content .icon {
    transform: rotate(-45deg);
}

/* start our new programs styles  */
.our-new-programs {
    background-color: #efefef;
}

.our-new-programs-wrapper {
    width: 54.5%;
    ;
    margin: auto;


}


@media (max-width:1400px) {
    .our-new-programs-wrapper {
        width: 80%;
    }

}

@media (max-width:575px) {
    .our-new-programs-wrapper {
        width: 95%;
    }

}

.our-new-programs-wrapper h2 {
    font-size: 3.5em;

}

@media (max-width:575px) {
    .our-new-programs-wrapper h2 {
        font-size: 2em;
    }
}

.our-new-programs-content {
    border-radius: 30px;
    padding: 4em 1em 2.5em
}

.our-new-programs-content h4 {
    font-size: 26px;
}

.our-new-programs-content p {
    font-size: 1.3rem;
    color: #555;
    text-align: justify;
    line-height: 1.7em;
}

.our-new-programs-content .btn {
    background-color: var(--secondary);
    padding: 4px 20px 5px !important;
    border-radius: 30px;

}

.our-new-programs-content .btn:hover {
    background-color: var(--main-color);
    color: #fff;
}


.our-new-programs-content .icon {
    transform: rotate(-45deg);
}


@media (min-width:1783px) {
    .our-new-programs-content h4 {
        margin-bottom: 0 !important;
    }

}

.our-new-programs-content img {
    width: 120px !important;
    height: 120px !important;
}

.our-new-programs-carousel .owl-nav button.owl-next {
    top: 45% !important;
    position: absolute;
    right: -106px;
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;
    transition: .3s all ease;
    border-radius: 10px;


}

@media (max-width:575px) {
    .our-new-programs-carousel .owl-nav button.owl-next {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {
    .our-new-programs-carousel .owl-nav button.owl-next {
        display: none;
    }
}

.our-new-programs .owl-carousel .owl-item img {
    width: auto;
}

.our-new-programs-carousel .owl-nav button.owl-prev {
    top: 45% !important;
    position: absolute;
    left: -106px;
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;
    transition: .3s all ease;

    border-radius: 10px;




}

@media (max-width:575px) {
    .our-new-programs-carousel .owl-nav button.owl-prev {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {
    .our-new-programs-carousel .owl-nav button.owl-prev {
        display: none;
    }
}

.our-new-programs-carousel .owl-nav button.owl-next svg,
.our-new-programs-carousel .owl-nav button.owl-prev svg {
    font-size: 18px;
    color: #fff;
}

.our-new-programs-carousel .owl-nav button.owl-next:hover,
.our-new-programs-carousel .owl-nav button.owl-prev:hover {
    background-color: rgba(239, 207, 4, .7) !important;

}

/* start college join styles */

.college-join-wrapper {
    width: 64%;
    margin: auto;


}

@media (max-width:1400px) {
    .college-join-wrapper {
        width: 80%;
    }

}

@media (max-width:575px) {
    .college-join-wrapper {
        width: 95%;
    }

}

.college-join-wrapper h2 {
    font-size: 3.5rem;
}

@media (max-width:575px) {

    .college-join-wrapper h2 {
        font-size: 2em;
    }
}

.college-join-content {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3.5em 24px 2em;
}

.college-join-content h4 {
    font-size: 28px;
}

.college-join-content p {
    color: #555;
}

.college-join img {
    width: 100px;
    height: 100px;

}

.college-join .btn {
    background-color: var(--secondary);
    padding: 4px .75rem 5px .75rem;
    border-radius: 30px;
    color: #555;

}

.college-join-content .btn:hover {
    background-color: var(--main-color);
    color: #fff;
}


.college-join-content .icon {
    transform: rotate(-45deg);
}


@media (min-width:1783px) {
    .college-join-content h4 {
        margin-bottom: 0 !important;
    }

}

/* Target only the last item in the carousel */
.environment-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 134px 63px rgba(255, 255, 255, 0.84) inset;
    -webkit-box-shadow: 1px 1px 134px 63px rgba(255, 255, 255, 0.84) inset;
    -moz-box-shadow: 1px 1px 134px 63px rgba(255, 255, 255, 0.84) inset;
    pointer-events: none;


}

@media (max-width:575px) {
    .environment-carousel::after {
        box-shadow: 118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
        -webkit-box-shadow: 118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
        -moz-box-shadow: 118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
    }
}

.perfect-education-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    box-shadow: -118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
    -webkit-box-shadow: -118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
    -moz-box-shadow: -118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;

    pointer-events: none;


}

@media (max-width:575px) {
    .perfect-education-carousel::after {
        box-shadow: -118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
        -webkit-box-shadow: -118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;
        -moz-box-shadow: -118px 4px 122px 0px rgba(255, 255, 255, 0.88) inset;

    }
}

/* start news events styles */
.news-events {
    background-color: #efefef;

}



@media (min-width:557px) {
    .owl-theme .owl-nav.disabled+.owl-dots {
        display: none;
    }


}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
}

.home-banner .owl-next svg,
.home-banner .owl-prev svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 3em;
}

.news-events .news-events-wrapper {
    padding: 80px 0;
    width: 65%;
    margin: auto;



}

@media (max-width:1400px) {
    .news-events .news-events-wrapper {
        width: 80%;
    }

}

@media (max-width:575px) {
    .news-events .news-events-wrapper {
        width: 95%;
        padding: 30px 0;
    }
}

.news-events-wrapper h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 3.5rem;


}

@media (max-width:575px) {
    .news-events-wrapper h2 {
        margin-bottom: 2rem;
        font-size: 2em;
    }
}

.news-events-carousel .owl-item .item {
    opacity: 1;
    /* Slight transparency for non-centered items */
    transition: opacity 0.3s ease, transform .6s ease, border-radius 0.3s ease;
    transform: scale(1);
    border-radius: 15px;
    /* Initial border-radius for non-centered items */
    z-index: 1;
    height: 416px;


}

.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;

}

@media (max-width:575px) {
    .news-events-carousel .owl-item .item {
        transform: scale(1);
        height: 400px;

        /* opacity: 0;  */

    }


}

.news-events-carousel .owl-item .item .item-content {
    display: none;
}

.news-events-carousel.owl-carousel .owl-stage-outer {
    padding-top: 98px;
    height: 600px;


}



.news-events-carousel .center-item .item {
    opacity: 1;
    /* Full opacity for the centered item */
    transform: scale(1.4);
    border-radius: 0;
    /* Remove border-radius when centered and scaled */
    z-index: 10;
    transition: transform 0.3s ease;


}

@media (max-width:575px) {

    .news-events-carousel.owl-carousel .owl-stage-outer {
        height: 430px;
        padding: 0;
    }

}

@media (max-width:575px) {
    .news-events-carousel .center-item .item {
        transform: scale(1);
        visibility: visible;
        transition: none;
    }

}

.news-events-carousel .center-item .item .item-content {
    display: block;
    position: absolute;
    bottom: 2rem;
    width: 80%;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-events-carousel .center-item .item .item-content h4 {
    color: #fff;
    font-size: 1.2rem;
}

.news-events-carousel .center-item .item .item-content .btn {

    background-color: var(--secondary);
    margin-top: 1rem;
    padding: 0;
    font-size: 15px;
    padding: 4px 20px 5px 20px;
    border-radius: 30px;
    color: #555;
}

.news-events-carousel .center-item .item .item-content .btn svg {
    transform: rotate(-45deg);
}

.news-events-carousel .center-item .item .item-content .btn:hover {
    background-color: var(--main-color);
    color: #fff;

}

.btn .news-events-carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Contains the entire image without cropping */

}

.news-events-carousel .owl-nav button.owl-next {
    top: 50% !important;
    position: absolute;
    right: 12rem;
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;
    ;
    border-radius: 10px;

}

@media (max-width:575px) {

    .news-events-carousel .owl-nav button.owl-next {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {
    .news-events-carousel .owl-nav button.owl-next {
        display: none;

    }
}

.news-events-carousel .owl-nav button.owl-prev {
    top: 50% !important;
    position: absolute;
    left: 12rem;
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;

    border-radius: 10px;




}

@media (max-width:575px) {

    .news-events-carousel .owl-nav button.owl-prev {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {
    .news-events-carousel .owl-nav button.owl-prev {

        display: none;
    }
}

.news-events-carousel .owl-nav button.owl-next svg,
.news-events-carousel .owl-nav button.owl-prev svg {
    font-size: 20px;
    color: #fff;
}

.news-events-carousel .owl-nav button.owl-next:hover,
.news-events-carousel .owl-nav button.owl-prev:hover {
    background-color: rgba(239, 207, 4, .7) !important;
}

/* start acheivements wrapper  */


.achievements-wrapper {
    padding: 40px 0;
    width: 64.5%;
    margin: auto;
    overflow-x: hidden;

}

@media (max-width:1400px) {
    .achievements-wrapper {
        width: 80%;
    }

}

@media (max-width:575px) {
    .achievements-wrapper {
        width: 95%;
        padding: 30px 0;
    }

}

.achievements-layer {

    top: -87rem;
    width: 61%;



}

@media (max-width:1400px) {
    .achievements-layer {
        display: none;

    }
}

.achievements-layer img {
    width: 100%;
    opacity: .6;
}

.achievements .achievements-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    gap: 8px;
    background-color: #fff;
}

.achievements .achievements-card img {
    width: 100px;
    height: 110px;
}

.achievements .achievements-card h2 {
    color: var(--secondary);
    font-size: 3rem;
    font-weight: 900;
}

.achievements .achievements-card h3 {
    color: #555
}

.acheivments-carousel .owl-stage-outer {
    height: 400px;

}

.acheivments-carousel .owl-stage {
    margin-top: 3em;
    display: flex;

}

.acheivments-carousel .owl-nav {
    display: none !important;

}

.acheivments-carousel .owl-item {
    box-sizing: border-box;
}

/* Adjustments for a centered appearance */
.acheivments-carousel .owl-item {
    margin-left: 10px;
    margin-right: 10px;
}


/*start college staff */
.college-staff {
    background-color: #efefef;
    margin-bottom: 20.7rem;

}

@media (max-width:1200px) {
    .college-staff {
        margin-bottom: 0;

    }

}

.college-staff-wrapper {
    padding: 100px 0;
    width: 54.5%;
    margin: auto;


}

@media (max-width:1400px) {
    .college-staff-wrapper {
        width: 80%;

    }
}

@media (max-width:575px) {
    .college-staff-wrapper {
        width: 95%;
        padding: 30px 0;
    }
}

.college-staff-wrapper .title {
    color: var(--main-color);
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}

@media (max-width:575px) {
    .college-staff-wrapper .title {
        font-size: 2rem;
    }
}

.college-staff-carousel .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.college-staff-carousel .item h2 {
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;

}

.college-staff-carousel .item h2:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 60px;
    background-color: var(--secondary);
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
}

.college-staff-carousel .item h3 {
    font-size: 1.4rem;
    color: #555;
}

.college-staff-carousel .owl-nav button.owl-next {
    top: 35% !important;
    position: absolute;
    right: -106px;
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;
    transition: .3s all ease;
    border-radius: 10px;


}

@media (max-width:575px) {
    .college-staff-carousel .owl-nav button.owl-next {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {
    .college-staff-carousel .owl-nav button.owl-next {
        display: none;
    }
}

.college-staff .owl-carousel .owl-item img {
    width: auto;
}

.college-staff-carousel .owl-nav button.owl-prev {
    top: 35% !important;
    position: absolute;
    left: -106px;
    width: 54px;
    height: 54px;
    background-color: rgba(94, 146, 66, .7) !important;
    transition: .3s all ease;

    border-radius: 10px;




}

@media (max-width:575px) {
    .college-staff-carousel .owl-nav button.owl-prev {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:1200px) {
    .college-staff-carousel .owl-nav button.owl-prev {
        display: none;
    }
}

.college-staff-carousel .owl-nav button.owl-next svg,
.college-staff-carousel .owl-nav button.owl-prev svg {
    font-size: 18px;
    color: #fff;
}

.college-staff-carousel .owl-nav button.owl-next:hover,
.college-staff-carousel .owl-nav button.owl-prev:hover {
    background-color: rgba(239, 207, 4, .7) !important;

}

/* Start Footer */
footer {
    background-color: rgb(79, 79, 79);
}

.fixed-bottom-footer {
    z-index: -100;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer .footer-card {
    color: #a6a6a6;
}

footer .footer-card .title,
footer .footer-card .desc {
    color: inherit;
    /* Inherits color from the footer-card */
}

footer .footer-card .line {
    height: 1px;
    width: 100%;
    background-color: #a6a6a6;
    cursor: pointer;
}

footer .footer-card .sub-line {
    width: 60%;
    height: 100%;
    background: #ddd;
    transition: width 0.3s ease;
}

footer .footer-card .line:hover .sub-line {
    width: 100%;
}

footer .footer-card ul {
    list-style-type: disc;
    list-style-position: inside;
}

.footer-card a {
    color: #a6a6a6;
    transition: color 0.1s ease;
}

.footer-card a:hover,
footer .touch ul a:hover {
    color: rgb(252, 218, 6);
}

footer .footer-card ul li::marker {
    color: #a6a6a6;
    font-size: 1.2em;
}

footer .touch:last-of-type ul {
    list-style: none !important;
}

@media (max-width:575px) {
    footer .touch:last-of-type ul {
        padding-inline-start: 2rem;
    }

}

footer .touch ul li:first-of-type {
    list-style-image: url(../images/career/mobile.png);
}

footer .touch ul li:last-of-type {
    list-style-image: url(../images/career/mail.png);
}

@media (max-width: 1200px) {
    .fixed-bottom-footer {
        position: static;
    }
}

/* End Footer */

/* Start Copyright */
.copyright {
    background-color: #434242;
    font-size: 14px;
}

@media (max-width: 768px) {
    .copyright p:last-of-type {
        text-align: center;
    }
}

.structure img {
    width: 70%;
}

.whatsapp-icon {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 2.25rem;
    right: 1.5rem;
    border-radius: 50%;
    font-size: 30px;
    z-index: 999999999;
    transition: background-color 0.3s ease;
    display: none;
}

.whatsapp-icon img {
    margin-top: 16px;
}


/* End Copyright */